.b-bord{
	margin:0 auto;
	padding:0 0;
	display:inline-block;
	vertical-align:top;
}
.b-boardDimension{
	display:block;
	margin: 5px 0 0 5px;
}
.b-dimension{
	display:block;
	margin: 10px 0 0 0;
}
.b-dimension__label{
	display:block;
}
.b-dimension__param{
	display:inline-block;
	width:100px;
	margin: 10px 0 0 0;
}
.b-points{
	display:block;
	margin:15px 0 0 0px;
}
.b-point{
	display:block;
	margin:5px 0;
}
.b-point__label{
	display:block;
}
.b-point__coord{
	display:inline-block;
	width:100px;
	margin:10px 0;
}
.b-duration__label{
	display:inline-block;
	font-weight:bold;
	color: #dd6666;
}
#b-way{
	outline:1px solid blue;
	display:inline-block;
	1width:auto;
	1height:100%;
	margin: 15px 0 0 5px;
}

.error {
	border: 2px solid red;
	border-radius:5px;
	box-shadow: -0 0 10px rgba(255,0,0,0.5);
}