<!DOCTYPE html>
<html ng-app="ecoApp">
<head>
        <meta charset="utf-8">                                    
        <script src="js/angular.js"></script>
        <script src="js/angular-touch.js"></script>
        <script src="js/angular-route.js"></script>
        <!--<script type="text/javascript" src="js/ui-bootstrap.js"></script> -->
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
        <script src="js/angular-locale_uk-ua.js"></script>
        <!-- <script src="js/switch.js"></script> -->
        <script src="js/ecoCtrl.js"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="styles/reset.css">
        <link rel="stylesheet" href="styles/header.css">        
        <link rel="stylesheet" href="styles/admin.css">
</head>
<body   ng-controller="Ctrl" ng-init="init()" > 
    <div class="b-container">
        <!-- header block START -->
        <div class="b-container__header">
            <div class="b-header">
                <img src="images/logo.png" class="b-header__logo"/>
                <input type="button" class="b-header__add-problem" value="Повідомити  про  проблему"/>
                <div class="b-header__menu">
                    <ul class="b-menu">
                        <li class="b-menu__item">
                            <a href="#" class="b-menu__link">Про проект</a>
                        </li>
                        <li class="b-menu__item">
                            <a href="#" class="b-menu__link" id="b-menu__link-source">Ресурси</a>
                            <div class="b-menu__submenu">
                                <ul class="b-submenu">
                                    <li class="b-submenu__item">
                                        <a href="#" class="b-submenu__link">Як організувати прибирання в парку</a>
                                    </li>
                                    <li class="b-submenu__item">
                                        <a href="#" class="b-submenu__link">Як зупинити торгівлю первоцвітами</a>
                                    </li>
                                    <li class="b-submenu__item">
                                        <a href="#" class="b-submenu__link">Як добитись ліквідації незаконого звалища</a>
                                    </li>
                                    <li class="b-submenu__item">
                                        <a href="#" class="b-submenu__link">Як зупинити комерційну експлуатацію тварин</a>
                                    </li>
                                </ul>
                            </div>
                        </li> 
                        <li class="b-menu__item">
                            <a href="#" class="b-menu__link" id="b-menu__item__enter">Вхід</a>    
                            <!-- Hidden registration form -->
                
                            <div class="b-header__sign-up">
                                <div class="b-sign-up">
                                 <div class="b-sign-up__caption">Допоможимо разом!</div>
                                	<form class="b-sign-up__form" method="post">
                                		<div class="b-form">
                                			<div class="b-form__item b-form__hidden-item">
                                				<label class="b-form__label">Имя:*</label>
                                				<input class="b-form__input" placeholder="Имя" type="text" name="name">
                                			</div><br style="clear:both">
                                			<div class="b-form__item">
                                				<label class="b-form__label">Email:*</label>
                                				<input class="b-form__input"  placeholder="e-mail" type="email" name="email">
                                			</div>
                                			<div class="b-form__item">
                                				<label class="b-form__label">Пароль:*</label>
                                				<input class="b-form__input"  placeholder="пароль" type="password" name="password">
                                			</div>
                                			<!--<div class="b-form__item b-form__hidden-item">
                                				<label class="b-form__label">Повторите пароль:*</label>
                                				<input class="b-form__input" placeholder="Повторите пароль" type="password" name="password">
                                			</div>-->
                                			<div class="b-form__item b-form__only-login-form">
                                				 <a href="" style="font-size:10px">Забыли пароль?</a><br>
                                				 <a href="javascript:showRegForm()" style="font-size:14px">Желаете присоединиться?</a>
                                			</div>
                                			<div class="b-form__item" style="padding-top:5px;">
                                				<input class="b-form__button-left" type="submit" value="ВОЙТИ">
                                				 
                                			</div>
                                			<div class="b-form__only-login-form  b-form-footer" style="border-top:1px solid #ccc;text-align:center;padding-top:5px">
                                				Войти через <a href="">Facebook</a> или <a href="">Google</a>
                                			</div>
                                			
                                		</div>
                                	</form>
                                </div>
                            </div>   
                            
                        </li> 
                    </ul>
                </div>
                
                
            </div>
        </div> 
        <!-- header block END -->
        <!-- ---------------- -->

        <div class="b-wrapper-inside-blocks">
            <!-- left block - filters START -->
            <div class="b-filters">
            ФІЛЬТР ПО ТИПАМ ПРОБЛЕМ 
                <form method = "" action="" id="ecoProblem">
                
                </form>
                ФІЛЬТРИ ДЛЯ АДМІНІСТРАТОРА
                <!-- <div ng-controller="ButtonsCtrl"> -->
                         <!-- </div> -->
                
            </div>
            <!-- header block END -->
            <!-- ---------------- -->
    
            <!-- central block - problem list START -->
            <div class="b-problem-list"  ng-show="blockVisible">
            <!--<div class="b-problem-list__list"> -->
                <div class="b-problem-list__caption">
                    СПИСОК НОВИХ ПРОБЛЕМ
                </div>
                <ul class="b-problem-list-items" ng-show = "infoVisible">
                    <li class="b-problem-list-item" ng-repeat="problem in problems" > 
                        <div class="b-problem-list-item__created"  ng-hide="compareDate($index)"> {{problem.created|date:'shortDate'}} </div>
                        <div class="b-problem-list-item__title" ng-click="getDeatiledProblemInfo($index)"> 
                            <a href="" class = "b-problem-list-item__link">{{problem.title}}</a>
                        </div>
                    </li>
                </ul>
            <!--</div> --> 
            </div>
            <!-- ---------------- -->        
            <!-- central block - problem list END -->
    
            <!-- right block - detailed problem START -->
            <div class="b-problem-deatiled-info" ng-show = "v_DeatiledProblemInfo" >
            <div class="b-problem-deatiled-info-header">
                <form method="" action="" class="b-problem-deatiled-info-form">
                    <input type="button" value="Редагувати" class="b-problem-deatiled-info_edit">
                    <input type="button" value="Видалити"  class="b-problem-deatiled-info_delete">
                </form>
                <div class="b-problem-deatiled-info-title">
                    <img src="images/icons/waste_icon.png" class="b-problem-deatiled-info-title__icon">
                    <div class="b-problem-deatiled-info-title__text">{{problems[problemId].title}}</div>
                    <div class="b-problem-deatiled-info-user">
                        <div class="b-problem-deatiled-info-user__name">Василь</div>
                        <div class="b-problem-deatiled-info-user__date">{{problems[problemId].created|date:'shortDate'}}</div>
                    </div>
                </div>
                <div class="b-problem-deatiled-info-general">
                    <div class='b-problem-deatiled-info-severity'>
                        <div class="b-problem-deatiled-info__caption">Важливість</div>
                        <div class="b-problem-deatiled-info__severity" ng-controller="RatingCtrl">
                        <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null">
                        </rating>
                        </div>
                    </div>
                    <div class="btn-group b-problem-deatiled-info__status">
                        <div class="b-problem-deatiled-info-status__text">Status</div> 
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                        </div>
                    </div>
                    <div class="b-problem-deatiled-info-votes">
                        <!--<img class='b-problem-deatiled-info__votes' src='images/icons/heart.jpg'> -->
                        <span class="glyphicon glyphicon-heart"></span>
                        {{problems[problemId].votes}}
                    </div>
                </div>
    
            </div>
            <div class="b-problem-deatiled-info-description">
                <div class="b-problem-deatiled-info-description__title">Детально</div>
                <div class="b-problem-deatiled-info-description__content">{{problems[problemId].content}}</div>
                <div class="b-problem-deatiled-info-description-photos">
                    <img src="images/icons/noImage_icon.png" class="b-problem-deatiled-info-description-photos__photo">
                    <img src="images/icons/noImage_icon.png" class="b-problem-deatiled-info-description-photos__photo">
                    <img src="images/icons/noImage_icon.png" class="b-problem-deatiled-info-description-photos__photo">
                    <img src="images/icons/noImage_icon.png" class="b-problem-deatiled-info-description-photos__photo">
                    <img src="images/icons/noImage_icon.png" class="b-problem-deatiled-info-description-photos__photo">
                </div>
            </div>
            <div class="b-problem-deatiled-info-userComments">
                <div class="b-problem-deatiled-info-userComments__title">Коментарі користувачів</div>
                <div class="b-problem-deatiled-info-userCommentsList">
                    <div class="b-problem-deatiled-info-userCommentList__item">
                        <div class="b-problem-deatiled-info-userComment__userName">Василь Петрович</div>
                        <div class="b-problem-deatiled-info-userComment__date">24.04.13 о 23:15</div>
                        <div class="b-problem-deatiled-info-userComment__activityType"></div>
                    </div>
                    <div class="b-problem-deatiled-info-userComment__content">Повідомив про проблему</div>
                </div>
                <div class="b-problem-deatiled-info-userCommentsList">
                    <div class="b-problem-deatiled-info-userCommentList__item">
                        <div class="b-problem-deatiled-info-userComment__userName">Петро</div>
                        <div class="b-problem-deatiled-info-userComment__date">05.07.13 о 23:15</div>
                        <div class="b-problem-deatiled-info-userComment__activityType"></div>
                    </div>
                    <div class="b-problem-deatiled-info-userComment__content">Друзі, Всіх небайдужих запрошуємо долучитися до прибирання в міському парку ім. Л.Українки</div>
                </div>
            </div>
        </div>
            <!-- ---------------- -->        
            <!-- central block - problem list END -->
            <div class="b-empty-bottom"> </div>
        </div>
        <div class="b-footer"></div>
    </div>
</body>
</html>

<!--
&nbsp; &nbsp;&nbsp;{{problems[$index+1].created|date:DD/MM/YYYY}} 
ng-hide = "compareDate(problems[$index].created, problems[$index+1].created)"


        <script src="js/angular-route.js"></script>
-->