<style type="text/css">
.axis {
   font: 10px sans-serif;
 }

 .axis path,
 .axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
 }
.tick
{
  stroke-dasharray: 1, 2;
}
.axis {
   font: 18px WWF;
 }
 .axis text {
  font: 10px sans-serif;
 }
.chart > svg, h3, h4 {
  font-family: WWF;
}
.chart {
   margin: 10px 5px 15px 5px;
  text-align: center;
  font-size: 12px;
  float: left;
}
table {
  margin: 10px 10px 10px 20px;
  text-align: center;
}
table td {
  font: 12px sans-serif;
  padding: 2px;
 width: 175px;
}
.chart {
  shape-rendering: crispEdges;
}
.mini text {
  font: 10px sans-serif;  
}
.main text {
  font: 12px sans-serif;  
}
.month text {
  text-anchor: start;
}
.todayLine {
  stroke: blue;
  stroke-width: 1.5;
}
.axis line, .axis path {
  stroke: black;
}
.brush .extent {
  stroke: gray;
  fill: blue;
  fill-opacity: .165;
}
ul li {
list-style: none;
float: left;
font: 12px sans-serif;
}
</style>
<close-button></close-button>
<div class="chart">
<h3>Статистика додання проблем</h3>
<svg id="el1" ng-init="chart()"></svg>
</div>
<table  ng-init="color = ['#095B0F', '#231F20', '#98442B', '#1B9AD6', '#71BF44', '#FFAB09', '#50095B']">
  <td ng-repeat="types in problemTypes">
  <svg width="16" height="16"><rect width="16" height="16" style="fill:{{color[$index]}}"/></svg> - {{types.name}}
   </td>
</table>
<div class="chart" ng-init="pie('Y')">
<div class="btn-group">
<button class="btn btn-primary btn-small" type="button" ng-click="pie('W')">Цього тижня</button>
<button class="btn btn-primary btn-small" type="button" ng-click="pie('M')">Цього місяця</button>
<button class="btn btn-primary btn-small" type="button" ng-click="pie('Y')">Цього року</button>
</div>
<h3>Статистика по типу проблем</h3>
<svg id="el2"></svg>
</div>
<!--<div class="chart" ng-init="bar2('D')">
<div class="btn-group">
<button class="btn btn-primary btn-small" type="button" ng-click="bar2('D')">По днях</button>
<button class="btn btn-primary btn-small" type="button" ng-click="bar2('W')">По тижнях</button>
<button class="btn btn-primary btn-small" type="button" ng-click="bar2('M')">По місяцях</button>
</div>
<h3>Статистика додання голосів</h3>
<svg id="el5"></svg>
</div>-->
<div class="chart">
<h4>Статистика по статусу проблем</h4>
<svg id="el3" ng-init="pie2()"></svg>
</div>
<div class="chart">
<h4>Популярність проблем по типу</h4>
<svg id="el4" ng-init="pie3()"></svg>
</div>
