<!DOCTYPE html>
<html lang="en"  ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <script src="js/angular.js"></script>
    <script src="js/angular-cookies.js"></script>
    <script src="js/app.js"></script>
    <script src="js/rollups/sha1.js"></script>


</head>
<body>
   <div ng-controller="AdminUserCtrl">
        <div ng-show='in'>

           <input type="text" id="inputEmail" placeholder="Email" ng-model="login.email">
           <input type="password" id="inputPassword" placeholder="Password" ng-model="login.password">
           <button ng-click="logIn(login.email, login.password)">Log In</button>
           <span>{{loginErrorMsg}}</span>

        </div>

        <div ng-show='!in'>
           <span>Hello, {{userName}} {{userSurname}}</span>
           <button ng-click="logOut()">Log Out</button>
        </div>

        <div ng-show='in'>
            <input type="text" ng-model="register.username" placeholder="Name">
            <input type="text" ng-model="register.surname" placeholder="Last Name">
            <input type="text" ng-model="register.email" placeholder="Email">
            <input type="password" ng-model="register.password" placeholder="Password">
            <input type="password" ng-model="register.cnfPassword" placeholder="Confirm password">
            <button ng-click="register(register.username, register.surname, register.email, register.password, register.cnfPassword)">Register</button>
            <span>{{registerErrorMsg}}</span>
        </div>

   </div>





</body>
</html>
