* {
    margin: 0;
    padding: 0;
}

.b-container {
    background: #E1E1E1;
    padding: 25px 0;
}

.b-container__field {
    width: 1100px;
    height: 1200px;
    margin: 0 auto;
}

.b-field {
    background: #ebd7c2;
    width: 1050px;
    height: 1200px;
    margin: 0 auto;
    border: 1px solid #d1b89d;
    box-shadow: 0 0 5px RGBA(209, 184, 157, .7);
    text-align: center;
    border-radius: 10px;
}

.b-field__name {
    font-family: Lobster;
    color: #896c4d;
    text-shadow: 0px 9px 11px RGBA(63, 36, 12, 0.5);
}

.b-field__data {
    position: relative;
    width: 1000px;
    height: 100px;
    margin: 15px auto 0;
    border: 1px solid #d1b89d;
    border-radius: 5px;
    text-align: left;
}

.b-field__board {
    width: 1000px;
    height: 1000px;
    margin: 15px auto 0;
    border-radius: 5px;
    border: 1px solid #d1b89d;
}

.b-data__start, .b-data__end, .b-data__size, .b-data__controls {
    display: inline-block;
    float: left;
    vertical-align: top;
    width: 100px;
    height: 80px;
    margin: 10px 5px 10px 10px;
}

.b-start__x, .b-end__x {
    width: 100px;
    margin: 2px 0;
}

.b-start__x-input, .b-end__x-input {
    width: 50px;
}

.b-start__y .b-end__y {
    width: 100px;
    margin: 2px 0;
}

.b-start__y-input, .b-end__y-input {
    width: 50px;
}

.b-selection {
    width: 100px;
}

.b-controls__get-path, .b-controls__clear-cnv, .b-controls__draw-path {
    width: 100px;
    margin: 5px 0 0 0;
}

canvas {
    background: #000000;
}

    canvas:hover {
        cursor: pointer;
    }
