<div class="b-activity">
    <div class="b-activity__filters">
         <i ng-repeat="i in [1,2,3,4,5]" ng-style="myStyle" ng-click="filterActivity(i);myStyle={opacity:x}" class="fa {{icons[i]}} b-activity__comments-item-image" style="margin-left:5px;display: inline-block;float:left;font-size: 24px;margin:0;line-height: 30px"></i>
    </div>
    <div ng-show="isLoggedIn()" class="form-group">
        <textarea class="form-control" ng-model="commentContent" rows="4" placeholder="Тут можна залишити свій коментарій..." maxlength="500"></textarea>
        <p class="help-block">(залишилось {{500 - commentContent.length}} символів)</p>
        <a href="" type="button" class="btn btn-default" ng-click="addComment(commentContent)">Додати</a>
    </div>
    <div ng-show="!isLoggedIn()" style="margin-top: 15px;margin-bottom: 15px;"><a class="tn-join-us" style="cursor: pointer;" ng-click="showRegForm('')">Зареєструйтесь</a> щоб залишити коментар</div>
    <div class="b-activity__comments">
        <div class="b-activity__comments-item" ng-repeat="activity in activities" ng-show="checkpoint[activity.ActivityTypes_Id]">
            <i class="fa {{icons[activity.ActivityTypes_Id]}} b-activity__comments-item-image" style="margin-left:5px;margin:0;padding:1px;display: inline-block;float:left;font-size: 24px;margin:0;line-height: 40px"></i>
            <div class="b-activity__comments-item-date">
                <span><b>{{activity.Content.userName}} {{activity.Content.userSurname}}</b></span>
                <span><b>{{activity.Date.substring(0,10)}}<br>{{activity.Date.substring(11,16)}}</b></span>
            </div>
            <div class="b-activity__comments-item-content">
                <span ng-show="activity.ActivityTypes_Id!=5">{{activity.Content.Content}}</span>
                <span ng-show="activity.ActivityTypes_Id==5">{{activity.Content.Content}}
                    <i ng-if="isAdministrator()" class="fa fa-close b-chat__newsItem-li-i"  ng-click="deleteComment(activity.Id)"></i></span>
            </div>
        </div>
    </div>
</div>
