
<div class="b-activity">
                    <div class="b-activity__filters">
                       <!-- <span  ng-repeat="i in [1,2,3,4,5]" ng-style="myStyle" ng-click="filterActivity(i);myStyle={opacity:x}" class="glyphicon glyphicon-{{icons[i]}} b-activity__comments-item-image" style="margin-left:5px;display: inline-block;float: left;font-size: 24px"></span>-->
                        <i ng-repeat="i in [1,2,3,4,5]" ng-style="myStyle" ng-click="filterActivity(i);myStyle={opacity:x}" class="fa {{icons[i]}} b-activity__comments-item-image" style="margin-left:5px;display: inline-block;float:left;font-size: 24px;margin:0;line-height: 30px"></i>
                    </div>
                    <div class="b-activity__input">
                        <div class="b-activity__input-field">
                            <textarea  ng-model="commentContent" class="b-activity__input-field-area" rows="10" cols="90" placeholder="Тут можна залишити свій коментарій..."></textarea>
                        </div>
                        <button class="b-activity-comment__btn" ng-click="addComment(commentContent)">Додати</button>
                    </div>

                    <div class="b-activity__comments">
                        <div class="b-activity__comments-item" ng-repeat="activity in activities" ng-show="checkpoint[activity.ActivityTypes_Id]">
                          <!--  <img class="b-activity__comments-item-image" src="images/icons/activityMarker_{{activity.ActivityTypes_Id}}.png">-->
                            <!--<span class="glyphicon glyphicon-{{icons[activity.ActivityTypes_Id]}} b-activity__comments-item-image" style="font-size: 24px"></span>-->
                            <i class="fa {{icons[activity.ActivityTypes_Id]}} b-activity__comments-item-image" style="margin-left:5px;margin:0;padding:1px;display: inline-block;float:left;font-size: 24px;margin:0;line-height: 40px"></i>

                            <div class="b-activity__comments-item-date">
                                <span><b>{{activity.Content.userName}}</b></span>
                                <span><b>{{activity.Date.substring(0,10)}}</b></span>
                            </div>
                            <div class="b-activity__comments-item-content">
                                <span ng-show="activity.ActivityTypes_Id!=5">{{activity.Content.Content}}</span>


                                <span ng-show="activity.ActivityTypes_Id==5">{{activity.Content.Content}}</span>
                            </div>

                        </div>

                    </div>

                </div>
