<a href="#/map" ng-click="swipeHide()"  class="close">×</a>
<form class="editor" name="EditForm" ng-submit="submitForm(EditForm.$valid)" novalidate>
	<div class="editor_left">
		<label >Заголовок ресурсу: </label>
		<input type="text" name="Title" ng-model="Title" ng-minlength="3" ng-maxlength="40" required>
		<p class="validErr" ng-if="EditForm.Title.$error.required && !EditForm.Title.$pristine">Це поле обов'язкове для заповнення!</p>
		<!--<p ng-if="EditForm.Title.$error.minlength">Це поле має містити не менше 3 символів!</p>
		<p ng-if="EditForm.Title.$error.maxlength">Це поле має містити не більше 40 символів!</p>-->
	</div>
	<div class="editor_left">
		<label>Alias для ресурсу: </label>
		<input type="text" ng-model="Alias" name="Alias" required ng-pattern="/^[0-9a-zA-Z\-]+$/">
		<p class="validErr" ng-if="EditForm.Alias.$error.pattern">Це поле може містити лише латинські літери, цифри та символ "-" !</p>
		<p class="validErr" ng-if="EditForm.Alias.$error.required && !EditForm.Alias.$pristine">Це поле обов'язкове для заповнення!</p>
</div>
<div class="editor_horizontal">
	<div text-angular="text-angular" ta-toolbar="[['h2', 'h3', 'h4', 'p', 'pre', 'quote'],['bold', 'italics', 'underline', 'ul', 'ol', 'clear'],['justifyLeft','justifyCenter','justifyRight'],	['html', 'insertImage', 'insertLink', 'insertVideo']]" name="htmlontent" ng-model="Content" class="editor_ta" required></div>
<p class="validErr" ng-if="EditForm.htmlontent.$error.required && !EditForm.htmlontent.$pristine">Це поле обов'язкове для заповнення!</p>
</div>
	<div class="editor_left">
		<label>Де розмістити цей ресурс: </label>
				<select ng-model="IsResource" name="IsResource">
					<option value="0">У верхньому меню</option>
					<option value="1">В розділі "Ресурси"</option>
				</select>
	</div>
	<div class="editor_left">
		<button type="submit" class="b-form__button editor_button" type="submit" ng-click="sendResource(Alias, Content, Title, IsResource, Id)">Відправити</button>
		<p class="validErr" ng-if="errorMsq">{{errorMsq}}</p>
	</div>
</form>