<link rel='stylesheet' href='bower_components\textAngular\src\textAngular.css'>
<style type="text/css">
	.editor {
		margin-top: 30px;
		padding-left: 30px;
	}
	.editor_ta {
		max-width: 95%;
		max-height: 90%;
	}
	.editor div {
		margin: 5px;
		}
	.editor input {
		line-height: 20px;
		min-width: 400px;
	}
</style>
<form class="editor">
<div> Введіть назву реcурсу: <input type="text" ng-model="Title"></div>
<div> 
Введіть контент:
<div text-angular="text-angular" name="htmlcontent" ng-model="Content" class="editor_ta"></div>
</div>
<div ng-bind='Content'></div>
<div> Введіть alias: <input type="text" ng-model="Alias"> </div>
<button type="submit" ng-click="sendResource(Alias, Content, Title)">Відправити</button>
</form>