<div class="b-container-filters-left">
    <div class="info-problem-filters">
        <div class="problem filters">
            <p class="title">ТИП ПРОБЛЕМ</p>

            <input type="checkbox" id="forest-problems" />
            <label for="forest-problems">Проблеми лісів</label>
            <input type="checkbox" id="garbage-problems">
            <label for="garbage-problems">Сміттєзвалища</label>
            <input type="checkbox" id="illegal-construction-problems">
            <label for="illegal-construction-problems">Незаконна забудова</label>
            <input type="checkbox" id="waters-problems">
            <label for="waters-problems">Проблеми водойм</label>
            <input type="checkbox" id="threats-to-biodivercity-problems">
            <label for="threats-to-biodivercity-problems">Загрози біорізноманіттю</label>
            <input type="checkbox" id="poaching-problems">
            <label for="poaching-problems">Браконьєрство</label>
            <input type="checkbox" id="other-problems">
            <label for="other-problems">Інші проблеми</label>

        </div>

        <div class="problem status">
            <p class="title">СТАТУС ПРОБЛЕМ</p>
            <input type="checkbox" id="problem-status-new">
            <label for="problem-status-new">Нова</label>
            <input type="checkbox" id="problem-status-inprocess">
            <label for="problem-status-inprocess">В процесі</label>
            <input type="checkbox" id="problem-status-resolved">
            <label for="problem-status-resolved">Вирішена</label>
        </div>
        <div class="problem controls">
            <!-- For Registered Users -->
            <p class="title">REGISTERED USER CONTROLS</p>
            <ul>Мої проблеми</ul>
            <li>Проблема 1</li>
            <li>Проблема 2</li>
            <li>Проблема 3</li>
            <ul>Коментарі</ul>
            <li>Коментар 1</li>
            <li>Коментар 1</li>
            <li>Коментар 1</li>
        </div>
        <div class="problem stats">
            <p class="title">STATS</p>
            <li>Кількість проблем</li>
            <li>Останні проблеми</li>
            <li>Популярні проблеми</li>

        </div>


    </div>
</div>
