<nav class="navbar navbar-default b-header" role="navigation">
<slider></slider>
  <div class="container-fluid">
    <div class="navbar-header">
      <div>
        <a href="#/map" ng-click="swipeHide()">
          <img src="images/logo.png" class="b-header__logo"/>
        </a>
      </div>
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <button class="navbar-brand b-menu__button" go-click="/problem/addProblem">Повідомити  про  проблему</button>
    </div>

    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-init="getTitles()">
      <ul class="nav navbar-nav">
        
        <li ng-repeat="title in data" ng-if="!title.IsResource" class="b-menu__button">
            <a id="link" href="#/resources/{{title.Alias}}">{{title.Title}} </a>
            <i class="fa fa-pencil fa-xs " ng-if="isAdministrator()" ng-click="editResource(title.Alias)"></i>
            <i class="fa fa-trash fa-xs" ng-if="isAdministrator()" ng-click="deleteResource(title.Id)"></i>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle b-menu__button">Ресурси 
            <span class="fa fa-caret-down"></span>
          </a>
          <ul class="dropdown-menu" id="b-header__resources">
            <li ng-repeat="title in data" ng-if="title.IsResource">
              <a id="link" href="#/resources/{{title.Alias}}">{{title.Title}}</a>
              <i class="fa fa-pencil" ng-if="isAdministrator()" ng-click="editResource(title.Alias)"></i>
              <i class="fa fa-trash" ng-if="isAdministrator()" ng-click="deleteResource(title.Id,title.Title)"></i>
            </li>
            <li ng-if="isAdministrator()">
                <a href="#/addResource" class="b-menu__button"><i class="fa fa-plus"></i>  Додати новий ресурс</a>
            </li>
          </ul>
        </li>
        <li class="b-menu__button"> <a ng-href="#/statistic"><i class="fa fa-pie-chart"></i> Статистика</a></li>
        <li class="dropdown" ng-hide="isLoggedIn()">
          <a class="dropdown-toggle b-menu__button" href="#">Вхід 
            <span class="fa fa-caret-down"></span>
          </a>
          <ul class="dropdown-menu" id="b-header__login-menu" stop-event="click">
            <li>
              <form name="login">
                <div class="form-group">
                  <input type="text" class="form-control" name="email" required placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" required placeholder="Пароль">
                </div>
                <button type="submit" value="Вхід" ng-click="postLogIn()" class="btn btn-default b-menu__button" id="login-button">Вхід</button>
                <div class="divider"></div>
              </form>
                <div  style="margin: 0 10px 0;padding-bottom: 5px;">
                   <button class="btn btn-default" style="border-radius:0" id="loginfb" href="#" ng-click="logInFB()"><i class="fa fa-facebook-square fa-lg"></i> Вхід</button>
                   <button class="btn btn-default" style="border-radius:0" id="register-button" href="#" ng-click="open('')">Реєстрація</button>
                   <a href="#" ng-click="resetPassword()">Забули пароль?</a>
                </div>
            </li>
          </ul>
        </li>

        <li class="b-menu__button" ng-if="isAdministrator()">
          <a ng-href="#/chat" ng-click="swipeHide()"><i class="fa fa-weixin"></i> Новини</a>
        </li>

        <li>
          <user></user>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" ng-show="isLoggedIn()">
        <li class="dropdown">
          <a class="dropdown-toggle b-menu__button"><i class="fa fa-user"></i> {{name}} {{surname}} 
            <span class="fa fa-caret-down"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a class="b-menu__button" ng-click="changePassword()" href="/"><i class="fa fa-wrench"></i> Змінити пароль</a></li>
            <li><a class="b-menu__button" ng-click="logOut()" href="/"><i class="fa fa-sign-out"></i> Вийти</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
