<div class="b-header">
    <img src="images/logo.png" class="b-header__logo" />
    <a class="b-header__add-problem" href="#/problem/addProblem">Повідомити  про  проблему</a>
    <div class="b-header__menu">
        <ul class="b-menu">
            <li class="b-menu__item">
                <a href="#" class="b-menu__link">Про проект</a>
            </li>
            <li class="b-menu__item">
                <a href="#" class="b-menu__link" id="b-menu__link-source">Ресурси</a>
                <div class="b-menu__submenu">
                    <ul class="b-submenu">
                        <li class="b-submenu__item">
                            <a href="#" class="b-submenu__link">Як організувати прибирання в парку</a>
                        </li>
                        <li class="b-submenu__item">
                            <a href="#" class="b-submenu__link">Як зупинити торгівлю первоцвітами</a>
                        </li>
                        <li class="b-submenu__item">
                            <a href="#" class="b-submenu__link">Як добитись ліквідації незаконого звалища</a>
                        </li>
                        <li class="b-submenu__item">
                            <a href="#" class="b-submenu__link">Як зупинити комерційну експлуатацію тварин</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="b-menu__item">
                <a href="" class="b-menu__link" id="b-menu__item__enter" ng-hide='isLoggedIn()'>Вхід</a>
                <!-- Hidden registration form -->

                <div class="b-header__sign-up">
                    <div class="b-sign-up">
                        <div class="b-sign-up__caption">Допоможимо разом!</div>
                        <form class="b-sign-up__form" method="post">
                            <div class="b-form">
                                <div class="b-form__item b-form__hidden-item">
                                    <label class="b-form__label">Имя:*</label>
                                    <input class="b-form__input" placeholder="Имя" type="text" name="name">
                                </div><br style="clear:both">
                                <div class="b-form__item">
                                    <label class="b-form__label">Email:*</label>
                                    <input class="b-form__input" placeholder="e-mail" type="email" name="email">
                                </div>
                                <div class="b-form__item">
                                    <label class="b-form__label">Пароль:*</label>
                                    <input class="b-form__input" placeholder="пароль" type="password" name="password">
                                </div>
                                <!--<div class="b-form__item b-form__hidden-item">
                                    <label class="b-form__label">Повторите пароль:*</label>
                                    <input class="b-form__input" placeholder="Повторите пароль" type="password" name="password">
                                </div>-->
                                <div class="b-form__item b-form__only-login-form">
                                    <a href="" style="font-size:10px">Забыли пароль?</a><br>
                                    <a href="javascript:showRegForm()" style="font-size:14px">Желаете присоединиться?</a>
                                </div>
                                <div class="b-form__item" style="padding-top:5px;">
                                    <input class="b-form__button-left" type="submit" value="ВОЙТИ">

                                </div>
                                <div class="b-form__only-login-form  b-form-footer" style="border-top:1px solid #ccc;text-align:center;padding-top:5px">
                                    Войти через <a href="" ng-click="logInFB()">Facebook</a> или <a href="">Google</a>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li  class="b-menu__item" ng-show="isLoggedIn()">HI, {{name}}</li>
        </ul>
    </div>
</div>
