<div class="b-header">
    <img src="images/logo.png" class="b-header__logo" />
    <a class="b-header__add-problem" href="#/problem/addProblem" ng-click="addProblem()">Повідомити  про  проблему</a>

    <div class="b-header__menu">
        <ul class="b-menu">
            <li class="b-menu__item">
                <a href="#/resources/about" class="b-menu__link" >Про проект</a>
            </li>
            <li class="b-menu__item">
                <a class="b-menu__link" id="b-menu__link-source">Ресурси</a>
                <div class="b-menu__submenu" ng-init="getTitles()">
                    <ul class="b-submenu">
                        <li class="b-submenu__item" ng-repeat="title in data">
                            <a href="#/resources/{{title.Alias}}" class="b-submenu__link" >{{title.Title}}</a> 
                            <a href="#/editResource/{{title.Alias}}" class="b-submenu__button" ng-show="1"><i class="fa fa-pencil-square-o"></i></a> 
                            <a href="#/deleteResource/{{title.Alias}}" class="b-submenu__button" ng-show="1" ng-click="deleteResource(title.Alias)"><i class="fa fa-eraser"></i></a>
                        </li>

                        <li class="b-submenu__item" ng-if="1">
                            <a href="#/addResource" class="b-submenu__link">Додати новий ресурс</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="b-menu__item">
                <a href="" class="b-menu__link" id="b-menu__item__enter" ng-hide='isLoggedIn()'>Вхід</a>
                <!-- Hidden registration form -->

                <div class="b-header__sign-up">
                    <div class="b-sign-up">
                        <form class="b-sign-up__form" method="post" name="login">
                            <span class="b-form__header">допоможемо разом!</span>

                            <span class="b-form__title">Email:</span>
                            <input type="text" class="b-from__input" name="email" required/>
                            <span class="b-form__title">Пароль:</span>
                            <input type="password" class="b-from__input" name="password" required/>

                            <div class="b-form__item">
                                <input class="b-form__button" type="submit" value="Вхід" ng-click="postLogIn()">
                            </div>

                            <div class="b-form__item b-form__only-login-form">
                                <a href="#" ng-click="showRegisterForm()" class="b-form__reg-link">Регістрація</a>
                                <a href="#" class="b-form__forgot-pass">Забули пароль?</a><br>
                            </div>
                        </form>

                        <div class="b-form-footer">
                            <span class="b-form-footer__title">Увійти чезез соціальну мережу:</span>
                            <a href="#" ng-click="logInFB()" class="b-fb-link" title="Facebook"></a>
                            <a href="#" class="b-gp-link" title="Google+"></a>
                            <a href="#" class="b-vk-link" title="Вконтакте"></a>
                            <a href="#" class="b-tw-link" title="Twitter"></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="b-menu__user-data" ng-show="isLoggedIn()">
        <img src="images/icons/user_icon.png" class="b-user__icon"/>
        <span class="b-user__icon"> {{name}} {{surname}}</span>
</div>
</div>
