<div class="b-new-problem-list" ng-controller="notApprovedCtrl" ng-if="isAdministrator()" ng-hide="!notApproved.length">
	<div class="b-new-problem-list__caption">
		СПИСОК НОВИХ ПРОБЛЕМ
	</div>
	<ul class="b-new-problem-list-items">
		<li class="b-new-items__item" ng-repeat="problem in notApproved" ng-click="showProblem(problem)">
			<div class="b-new-item__title">{{problem.Title}}</div>
			<div class="b-new-item__buttons">
				<ul class="b-buttons">
					<li class="b-buttons__button fa fa-check" ng-click="approveProblem(problem)"></li>
					<li class="b-buttons__button fa fa-remove" ng-click="deleteProblem(problem)"></li>
				</ul>
			</div>
		</li>
	</ul>
</div>