<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<div class="modal-header" ng-hide="formHide">
    <h3 class="modal-title">Реєстрація:</h3>
</div>
<div class="modal-body" ng-hide="formHide">
    <form class="b-registration__form" name="registerForm" ng-submit="submitForm(registerForm.$valid)" novalidate>

        <div class="form-group">
            <label for = "first_name">Ім’я</label>
            <input type="text" id = "first_name" class="form-control" name="first_name" ng-model="user.first_name" ng-minlength="3" ng-maxlength="40" required>
            <p ng-show="registerForm.first_name.$error.required && !registerForm.first_name.$pristine" class="help-block">Це поле обов’язкове.</p>
            <p ng-show="registerForm.first_name.$error.minlength" class="help-block">Ім’я має бути не менше ніж 3 символи.</p>
            <p ng-show="registerForm.first_name.$error.maxlength" class="help-block">Ім’я має бути не довше ніж 45 символів.</p>
        </div>
        <div class="form-group">
            <label for = "last_name">Прізвище</label>
            <input type="text" id = "last_name" class="form-control" name="last_name" ng-model="user.last_name" ng-minlength="3" ng-maxlength="45" required>
            <p ng-show="registerForm.last_name.$error.required && !registerForm.last_name.$pristine" class="help-block">Це поле обов’язкове.</p>
            <p ng-show="registerForm.last_name.$error.minlength" class="help-block">Прізвище має бути не менше ніж 3 символи.</p>
            <p ng-show="registerForm.last_name.$error.maxlength" class="help-block">Прізвище має бути не довше ніж 45 символів.</p>
        </div>
        <div class="form-group">
            <label for = "email">Пошта</label>
            <input ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" type="email" id = "email" class="form-control" name="email" ng-model="user.email" required>
            <p ng-show="registerForm.email.$error.required && !registerForm.email.$pristine" class="help-block">Це поле обов’язкове.</p>
            <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block">Введіть коректну пошту.</p>
            <span class="help-block" ng-bind="wrongEmail"></span>
        </div>
        <div class="form-group">
            <label for = "password">Пароль</label>
            <input type="password" id = "password" class="form-control" name="password" ng-model="user.password" required>
            <p ng-show="registerForm.password.$error.required && !registerForm.password.$pristine" class="help-block">Це поле обов’язкове.</p>
        </div>
        <div class="form-group">
            <label for = "password_second">Повторіть пароль</label>
            <input type="password" id = "password_second" class="form-control" name="password_second" ng-model="user.password_second" required>
            <p ng-show="registerForm.password_second.$error.required && !registerForm.password_second.$pristine" class="help-block">Це поле обов’язкове.</p>
            <p ng-show="user.password != user.password_second && !registerForm.password_second.$pristine" class="help-block">Паролі не співпадають.</p>
        </div>
        <p ng-show="registerForm.last_name.$error.required || registerForm.last_name.$error.required || registerForm.email.$error.required || registerForm.password.$error.required || registerForm.password_second.$error.required" class="help-block">Заповніть, будь ласка, усі поля.</p>
        <div class="modal-footer">
            <input ng-disabled="!registerForm.$valid || (user.password != user.password_second)" type="submit" value="Зареєструватися!" class="b-form__button"/>
        </div>
    </form>
</div>