<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<div class="modal-header" ng-hide="formHide">
    <h3 class="modal-title">Відновлення паролю:</h3>
</div>
<div class="modal-body" ng-hide="formHide">
    <form class="b-registration__form" name="resetPasswordForm" ng-submit="submitForm(resetPasswordForm.$valid)" novalidate>

        <div class="form-group">
            <label for = "email">Введіть вашу пошту</label>
            <input ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" type="email" id = "email" class="form-control" name="email" ng-model="user.email" required>
            <p ng-show="resetPasswordForm.email.$error.required && !resetPasswordForm.email.$pristine" class="help-block">Це поле обов’язкове.</p>
            <p ng-show="resetPasswordForm.email.$invalid && !resetPasswordForm.email.$pristine" class="help-block">Введіть коректну пошту.</p>
            <span class="help-block" ng-bind="wrongEmail"></span>
        </div>

        <div class="form-group">
            <label for = "surname">Введіть ваше прізвище</label>
            <input type="text" id = "surname" class="form-control" name="surname" ng-model="user.surname" required>
            <p ng-show="resetPasswordForm.surname.$error.required && !resetPasswordForm.surname.$pristine" class="help-block">Це поле обов’язкове.</p>
            <span class="help-block" ng-bind="wrongSurname"></span>
        </div>


        <div class="modal-footer">
            <input ng-disabled="!resetPasswordForm.$valid" type="submit" value="Змінити пароль" class="b-form__button"/>
        </div>
    </form>
</div>