<style type="text/css">
.close {
  font-size: 30px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
  position: absolute;
  top: 5px;
  right: 5px;
}
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}
</style>
<a href="#/map" class="close" ng-click="hideDiv()">×</a>
<h1 ng-bind-html="resource.Title"></h1>
<tt ng-bind-html="resource.Content"></tt>