    <div ng-if="showSlider" >
        <div class="slider-fon" ng-show="showSlider" ng-click="hideSlider()"></div>
<div class="container slider" ng-show="showSlider">
 

    <i class="fa fa-close close" style="top:0px; right:0px;z-index: 5;color:#fff;opacity:1" ng-click="hideSlider()"></i>
 <ul style="height:500px;position: relative" rn-carousel rn-carousel-control rn-carousel-indicator class="image">
  <li style="height:500px;position: relative"  ng-repeat="slide in slides" ng-style="{ backgroundImage: 'url(' + slide.image + ')' }">
    <i class="fa fa-check show_photo_label_{{slide.status}}" style="position: absolute;right:20px"></i>
      <div style="color:#fff;margin-top:500px;" class="layer">{{ slide.text }}</div>
           

  </li>
</ul>
</div>
</div>
