<style type="text/css">
.axis {
   font: 10px sans-serif;
 }

 .axis path,
 .axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
 }
.tick
{
  stroke-dasharray: 1, 2;
}
.axis {
   font: 18px WWF;
 }
 .axis text {
  font: 10px sans-serif;
 }
.chart > svg, h3, h4 {
  font-family: WWF;
}
.chart {
   margin: 10px 5px 15px 20px;
  text-align: center;
  float: left;
}
.instrument_panel {
  margin: 5px 10px 20px 20px;
  text-align: center;
}
.instrument_panel input {
  width: 100px;
}
table {
  width: 200px;
  margin-top: 5px;
  position: absolute;
  right: 40%;
}
table td {
  border: solid 4px #fff;
  margin: 5px;
  min-width: 24px;
}
</style>
<close-button></close-button>
<table  ng-init="color = ['#095B0F', '#231F20', '#98442B', '#1B9AD6', '#71BF44', '#FFAB09', '#50095B']">
<tr ng-repeat="types in problemTypes">
  <td style="background-color: {{color[$index]}}"></td>
  <td> - {{types.name}}</td>
</tr>
</table>
<div class="chart" ng-init="bar('D')">
<div class="btn-group">
<button class="btn btn-primary btn-small" type="button" ng-click="bar('D')">По днях</button>
<button class="btn btn-primary btn-small" type="button" ng-click="bar('W')">По тижнях</button>
<button class="btn btn-primary btn-small" type="button" ng-click="bar('M')">По місяцях</button>
</div>
<h3>Статистика додання проблем</h3>
<svg id="el1"></svg>
</div>
<div class="chart" ng-init="pie('Y')">
<div class="btn-group">
<button class="btn btn-primary btn-small" type="button" ng-click="pie('W')">Цього тижня</button>
<button class="btn btn-primary btn-small" type="button" ng-click="pie('M')">Цього місяця</button>
<button class="btn btn-primary btn-small" type="button" ng-click="pie('Y')">Цього року</button>
</div>
<h3>Статистика по типу проблем</h3>
<svg id="el2"></svg>
</div>
<div class="chart" ng-init="bar2('D')">
<div class="btn-group">
<button class="btn btn-primary btn-small" type="button" ng-click="bar2('D')">По днях</button>
<button class="btn btn-primary btn-small" type="button" ng-click="bar2('W')">По тижнях</button>
<button class="btn btn-primary btn-small" type="button" ng-click="bar2('M')">По місяцях</button>
</div>
<h3>Статистика додання голосів</h3>
<svg id="el5"></svg>
</div>
<div class="chart">
<h4>Статистика по статусу проблем</h4>
<svg id="el3" ng-init="pie2()"></svg>
</div>
<div class="chart">
<h4>Популярність проблем по типу</h4>
<svg id="el4" ng-init="pie3()"></svg>
</div>