<style type="text/css">
.statistic > h3, h2, ul {
  margin: 30px auto;
  text-align: center;
}
.statistic h1, h2, h3 {
    font-family: WWF;
    line-height: 1em;
    }
.statistic h1 {
    font-size: 2em;
    text-align: center;
    
}
.statistic h2 {
    font-size: 2em;
}
.statistic h3 {
    font-size: 2em;
}
.light {
    font-weight: 300;
}

.statistic {
   margin: 10px 5px 15px 5px;
}
.statistic svg {
  font-size: 0.6em; 
}
.main text {
  font: 12px sans-serif;
}
.mini text {
  font: 10px sans-serif;  
}
.month text {
  text-anchor: start;
}
.todayLine {
  stroke: blue;
  stroke-width: 1.5;
}
.axis line, .axis path {
  stroke: black;
}
.brush .extent {
  stroke: gray;
  fill: blue;
  fill-opacity: .165;
}
.statistic > ul {
list-style: none;
}
.statistic  li {
padding: 0px 30px;
display: inline-block;
}
.statistic  li span{
font-size: 4em;
}
.statistic .legend {
  text-align: left;
  margin: 10px 10px 20px 10px;
  padding: 5px 5px;
  font-size: 0.65em;
}
.pie {
    margin: 0 auto;
    text-align: center;
}
</style>
<close-button></close-button>
<div class="statistic">
<h1>Статистика за весь час</h1>
<ul>
  <li><span>{{problems}}</span><br>Проблем</li>
  <li><span>{{votes}}</span><br>Голосів</li>
  <li><span>{{comments}}</span><br>Коментарів</li>
  <li><span>{{photos}}</span><br>Фотографій</li>
</ul>
    <h3 class="light">Статистика проблем за останній</h3>
    <div class="pie">    
        <a href="" ng-click="pie('D')">День</a> | 
        <a href="" ng-click="pie('W')">Тиждень</a> | 
        <a href="" ng-click="pie('M')">Місяць</a> | 
        <a href="" ng-click="pie('Y')">Рік</a> | 
        <a href="" ng-click="pie('A')">За весь час</a><br>
        <svg id="el2" ng-init="pie('A')"></svg>
    </div>
  
    
<ul class="legend" ng-init="color = ['#095B0F', '#231F20', '#98442B', '#1B9AD6', '#71BF44', '#FFAB09', '#50095B']">
  <li ng-repeat="types in problemTypes">
  <svg width="12" height="12"><rect width="12" height="12" style="fill:{{color[$index]}}"/></svg> - {{types.name}}
   </li>
</ul>
<h3>Хронологія публікацій та голосів</h3>
<ul class="legend">
  <li><svg width="5" height="15"><rect width="5" height="15" style="fill:#f00; opacity: 0.5"/></svg> - Додано проблему</li>
  <li><svg width="5" height="15"><rect width="5" height="15" style="fill:#00f; opacity: 0.5"/></svg> - Додано голос</li>
</ul>
<svg id="el1" ng-init="chart()"></svg>
</div>
