html,body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
header{
    position: static;
    height: 52px;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #E4E2D1;

}
.header-top{
    
    height: 22px;
    padding: 0;
    margin: 0;
    

}
.header-bottom{

    background: #1F465F;
    height: 30px;
    font-size: 0;
	
    padding: 0;
    margin: 0;
    
     
}
#logo{
    z-index: 5;
    position: absolute;
    left: 200px;
    top:0;
     
    

}
.login-form{
     z-index: 20;
     padding: 0;
     margin: 0;
     width: 200px;
     background: white;
     
     display: none;
     position: absolute;
     top: -310px;
     left: 772px;
}
.registration-form{
     z-index: 10;
     padding: 0;
     margin: 0;
     display: none;
     background: white;
     
     position: absolute;
     top: -450px;
     left: 778px;	
	
}
.reg-label{
	float: left;
	
	
}
.registration-form form{
	padding: 15px;
	
	
}
.login-form form{
	padding: 15px;
	
	
}
.form-button{
	
	text-transform: uppercase;
	backgrofund: #B11F1D;
	margin: 5px;
	padding: 5px;;
	border: none;
	color: white;
	font: normal 1em 'WWFRegular','Helvetica Neue',Helvetica,Arial,sans-serif;
	background: -webkit-linear-gradient( top, rgb(179, 32, 30), rgb(120, 33, 18)); /*Safari 5.1-6*/
       background: -o-linear-gradient(top, rgb(179, 32, 30), rgb(120, 33, 18)); /*Opera 11.1-12*/
       background: -moz-linear-gradient( top, rgb(179, 32, 30), rgb(120, 33, 18)); /*Fx 3.6-15*/
       background: linear-gradient(to bottom, rgb(179, 32, 30), rgb(120, 33, 18));
}
.form-button:hover{
	background: -webkit-linear-gradient( top, rgb(89, 149, 0), rgb(61, 103, 0)); /*Safari 5.1-6*/
       background: -o-linear-gradient(top, rgb(89, 149, 0), rgb(61, 103, 0)); /*Opera 11.1-12*/
       background: -moz-linear-gradient( top, rgb(89, 149, 0), rgb(61, 103, 0)); /*Fx 3.6-15*/
       background: linear-gradient(to bottom, rgb(89, 149, 0), rgb(61, 103, 0));
	 text-decoration: none;
}
.form-button:active{
	background: -webkit-linear-gradient( top, rgb(247, 164, 25), rgb(167, 111, 17)); /*Safari 5.1-6*/
       background: -o-linear-gradient(top, rgb(89, 149, 0), rgb(61, 103, 0)); /*Opera 11.1-12*/
       background: -moz-linear-gradient( top, rgb(247, 164, 25), rgb(167, 111, 17)); /*Fx 3.6-15*/
       background: linear-gradient(to bottom, rgb(247, 164, 25), rgb(167, 111, 17));
	 border: none;
}
.form-header{
      background: black;
      color: white;
      text-align: center;
      text-transform: uppercase;
      height: 50px;
      line-height: 50px;
	font-size: 27px;
      
	
	
	
	
	
}
.reg-field{
	
	width: 150px;
	margin-left: 10px;
     
}
.login-field{
    width: 100px;
     
    
}
.main-content{
    padding: 0;
    margin: 0;
    height: 93%;
    position: relative;
     
}
.b-container-panel{
    margin: 0;
    padding: 0;
    position: absolute;
    height: 90%;
    top:16px;
    left: -305px;
    width: 300px;
    z-index: 30;
     
    
    
   
     
}

.b-container-addproblem{
    display: none;
    position: absolute;
    width: 400px;
    right: -400px;
    height: 90%;
    top: 16px;
    z-index: 26;
    

}

.b-container-info{
    position: absolute;
    top: 16px;
    right:-630px;
    margin: 0;
    padding: 0; 
    width:680px;
    height: 90%;
    display: none;
    
   
     
}
footer{
    
}
.pointer{
    width: 20px;
    height: 150px;
    position: absolute;    
    top:100px;

}
#panel-pointer{
    left:0px;
     
	background:  rgba(70,200,250,0.4)  url(../images/icons/arrows-sprite-64-better.png)  -40px center no-repeat;
}
#info-pointer{
    right:-20px;
    
	background: rgba(70,200,250,0.4)  url(../images/icons/arrows-sprite-64-better.png) -40px center no-repeat;
    
}
.header-menu-content-element{
    position: relative;
    
    vertical-align: top;
    display: inline-block;
    *display: block;
     
    
    height: 30px;
   

} 
.header-menu{
    
    
    padding: 0;
    margin: 0 0 0  300px;
    font-size: 0;
   	
   
    
   
    
    
}
  #dropdown-source .header-menu-content-element-a{
   padding-right: 30px;
     
   background:  #1F465F url(../images/icons/main-nav-arrow.png) right center no-repeat;
     
  
  }
#dropdown-source .header-menu-content-element-a:hover{
   padding-right: 30px;
   
   background: #0097AA  url(../images/icons/main-nav-arrow.png) right center no-repeat;
     
  
  }




 
.header-menu-content{
    
    position: relative;
    margin: 0px ;
    font-size: 0;
	margin-left: 300px;
	z-index: 11;
    
}
#create-problem{
    width: 200px;
    display: none;
    
}
.header-menu-content-element{
       display: block;
	float: left;
       font-size: 100%;
	border-right: 1px solid #617988;
	margin: 0px;
	padding: 0px;

}
 a.header-menu-content-element-a{
      padding: 0 9px 0 9px;
      margin: 0px;
      border-right:1px solid #142C3B;
      letter-spacing: 0.5px;
      text-shadow: 0 1px 2px rgba(0,0,0,0.7); 
	  font:21px/27px WWF, Arial, sans-serif;
	
	 height: 30px;
 }
a.header-menu-content-element-a:link,a.header-menu-content-element-a:visited{
     display: block;
    
    
    color: #FFFFFF;
    background-color: #1F465F;
    text-align: center;
     
    text-decoration: none;
     
    
    

}
a.header-menu-content-element-a:active,a.header-menu-content-element-a:hover{
    background: #0097AA;
    overflow: visible;
    text-align: center;


}
 
 
.header-dropdown-menu  {
	position: absolute;
       font: 10;
	left: 0px;
	top: 30px;
	display: none;
	list-style: none;
	width: 280px;
    text-align: left;
    z-index: 20;
    padding: 0 7px 7px 7px;
    background: #fff;
    margin: 0px;
  
  
	 
	
     
}
 
.header-dropdown-menu li{
	display:block;
    *display:inline;
    margin: 0px;
    
    
       border-left: 0;
    border-right: 0;
    text-transform: none;
}
 #add-problem-button{
	 background: #59f;
 }
 #add-problem-button:hover{
	 background: #0097AA;
 }
.header-dropdown-menu li a  {
	  display: block;
	  text-decoration: none;
 	  padding-left: 5px;
	  background: #fff;
	  font:12px/1.2 Helvetica, Arial, sans-serif;
         border-bottom: 1px solid #ccc;
         color: #006262;
         padding: 5px 3px;
   

}
 
.header-dropdown-menu li a:hover,.header-dropdown-menu li a:active    {

     background: #E9E8D8;
}
 #dropdown-source{
	 position: relative;
      
 }
 #dropdown-source:hover ul {
	 display:  block;
        
	 
	 
 }
  .second-menu{
	  position: relative;
       display: block;
	  float: left;
    *display: inline;
      
    
      height: 30px;
	  
  }
.second-menu {
	 display:block;
	 float: left;
        border-right: 1px solid #617988;
	 height: 30px;
        font:21px/27px WWF, Arial, sans-serif;
}
.second-menu :hover{
	 background: #0097AA;
}
 
 
.second-menu a:link ,.second-menu a:visited 
{
    display: block;
   
     
    color: #FFFFFF;
    background-color: #F29724;
    text-align: center;
    
    text-decoration: none;
    text-transform: uppercase;
    
    vertical-align: baseline;
}
.second-menu a{
        padding-left: 6px;
	 
	 border-right:1px solid #604512;
        letter-spacing: 0.5px;
        text-shadow: 0 1px 2px rgba(0,0,0,0.7); 
	 font:21px/27px WWF, Arial, sans-serif;
	 height: 30px;
	 padding-right: 30px;

		   background:   url(../images/icons/main-nav-arrow.png) right center no-repeat;
	
}
.second-menu a:active, .second-menu a:hover{
	 background: #0097AA url(../images/icons/main-nav-arrow.png) right center no-repeat;;
	 text-decoration: none;
	 1padding-left: 10px;
         1padding-right: 10px;
	 padding-right: 30px;
	 
	 
	 
}

@media screen and (max-width: 950px) {
	.main-content{
    padding: 0;
    margin: 0;
    height: auto;
    position: relative;
     
}
	
	#dropdown-source-a{
   padding-right: 30px;
     
   background:  #1F465F url(../images/icons/main-nav-arrow.png) right center no-repeat;
     
  
  }
	
	
	#dropdown-source-a :link, #dropdown-source-a :visited{
	 padding-right: 30px;
   
       background: #0097AA  url(../images/icons/main-nav-arrow.png) right center no-repeat;
	 text-decoration: none;	 
}
	
	#dropdown-source-a :active, #dropdown-source-a :hover{
	 padding-right: 30px;
   
       background: #0097AA  url(../images/icons/main-nav-arrow.png) right center no-repeat;
	 text-decoration: none;	 
}
 
	
	

			.header-menu-content-element{
		    position: relative;

		    vertical-align: top;
		    display: inline-block;
		    *display: inline;

                  width: 100%;
		    height: 30px;


		}
	.login-form{
	     z-index: 60;
	     padding: 0;
	     margin: 0;
	     width: 200px;
	     background: white;

	     display: none;
	     position: absolute;
	     
	     left: 0px;
	}
	.registration-form{
	     z-index: 60;
	     padding: 0;
	     margin: 0;
	     display: none;
	     background: white;

	     position: absolute;
	     
	     left: 0px;	
	
		}
	.mini-menu{
		background: #005E7B url(../images/icons/menu-responsive.png) left top no-repeat;
		display: block;
		top:0px;
		left: 0px;
		width: 90px;
		height: 88px;
		z-index: 25;
		
	}
	.second-menu a:link ,.second-menu a:visited {
		text-align: left;
	}
	a.header-menu-content-element-a:link,a.header-menu-content-element-a:visited{
      
           text-align: left;


            }
          a.header-menu-content-element-a:active,a.header-menu-content-element-a:hover{
     
           text-align: left;


             }
 
	 #logo img{
		   display: none;   
			 
			 
		 }
               #logo{
		     left: 90px !important;
			 background: url(../images/icons/logo.svg) no-repeat center center #fff;
			 width: 90px;
			 height: 88px;
			 background-size: 50px auto;
			 
			 
		 }
               .header-bottom{
			 
			 display: none;
			 background: none;
			 
		 }
			header{
				height:89px;
			}
		.header-menu{

                  display: none;
		    padding: 0;
		      width: 100%;
		    font-size: 0;
			background: none;






		}
		  



		.header-menu-content{
                  padding-left: 0px;
		    position: relative;
		    margin: 0px ;
		    font-size: 0;
	           display: none;		 
			z-index: 11;
			margin-top: 66px;
			 

		}
		#create-problem{
		    width: 200px;
		    display: none;

		}
		.header-menu-content-element{
			display: block;
			float: left;
			font-size: 100%;
			border-right: 1px solid #617988;
			margin: 0px;
			padding: 0px;

		}
		 a.header-menu-content-element-a{
		      padding: 0 25px 0 9px;
		      margin: 0px;
		      border-right:1px solid #142C3B;
		      letter-spacing: 0.5px;
		      text-shadow: 0 1px 2px rgba(0,0,0,0.7); 
			  font:21px/27px WWF, Arial, sans-serif;
                     width: 100%;
			 height: 30px;
		 }
		 
		 


		.header-dropdown-menu  {
			position: absolute;
			font: 10;
			left: 0px;
			top: 30px;
			display: none;
			list-style: none;
			width: 280px;
		    text-align: left;
		    z-index: 20;
		    padding: 0 7px 7px 7px;
		    background: #fff;
		    margin: 0px;

                  width: 100%;



		}
               
		.header-dropdown-menu li{
			display:block;
		    *display:inline;
		    margin: 0px;
                 width: 100%;

			border-left: 0;
		    border-right: 0;
		    text-transform: none;
		}
		 #add-problem-button{
			 background: #59f;
		 }
		 #add-problem-button:hover{
			 background: #0097AA;
		 }
		.header-dropdown-menu li a  {
			  display: block;
			  text-decoration: none;
			  padding-left: 5px;
			  background: #fff;
			  font:12px/1.2 Helvetica, Arial, sans-serif;
			  border-bottom: 1px solid #ccc;
			  color: #006262;
			  padding: 5px 3px;
			 width: 100%;


		}

		 
		 #dropdown-source{
			 position: relative;
			  width: 100%;

		 }
		 #dropdown-source:hover ul {
			 display:  block;



		 }
		  .second-menu{

			display: block;
			 
		    *display: inline;


		      height: 30px;

		  }
		.second-menu {
			 display:block;
 
			 border-right: 1px solid #617988;
			 height: 30px;
			 font:21px/27px WWF, Arial, sans-serif;
			 width: 100%;
		}
	 


		 
		.second-menu a{
			 padding-left: 6px;
			 padding-right: 6px;
			 border-right:1px solid #604512;
			 letter-spacing: 0.5px;
			 text-shadow: 0 1px 2px rgba(0,0,0,0.7); 
			 font:21px/27px WWF, Arial, sans-serif;
			 height: 30px;

		}

	
}



/*taras     //////////////*/
@font-face {
        font-family: WWF;
        src: url(../fonts/wwf.otf);
        font-style: normal;
        font-weight: normal;
    }
    
    .tzform {
        padding: 0 5%;
        background-color: white;
        margin-top: 50px;
        margin-bottom: 0;
    }
    
    h2 {
        font-family: WWF;
        margin: 0 0 10px 0;
        padding: 8px 0 10px;
        color: white;
        background-color: black;
        text-align:center;
        font-size: 40px;
        font-weight: lighter;
    }
    
    .add_problem_input {
        float: left;
        width: 30%;
    }
    
    .tzinfo {
        width: 400px;
        background-color: #FFF;
        padding-bottom: 19px;
    }
    
    .add_problem_row {
        margin-bottom: 10px;
        width:100%;
        clear:both;
        height: auto;
    }
    
    /* button style */
    .tzbutton {
        color: #fff;
        background-color: #23527B;
        height: 32px;
        border: none;
    }
    
    .tzbutton-files {
        margin-left:26px;
    }
    
    .row_input, .row_textarea {
        width: 65%;
        resize: none;
        float: right;
    }
    
    .tzinput {
        min-height: 23px; 
    }
    
    .tztextarea {
        min-height: 120px;
    }
    
    .submit-section {
        text-align: right;
        margin-top: 65px;
        clear: both;
    }
    
    
    /* adding files styles */
    .added_photo {
         display: inline-block;
    *display: inline;
    }
    
    .thumbnail {
        height: 50px;
        width: 50px;
        margin: 10px;
    }
    
    .label-for-files {
        width:100%;
    }
    
    #files {
        opacity: 0;
    }
/*/////////////////////////////////////////////////////////////////////////////////////*/

.left{
    width:300px;
    float:left;
    height:890px;
    border:none;
    background:rgba(255,255,255,0.5);
}

.left .info-problem-filters{
    margin:5px;
    height:848px;
    overflow:auto;
    background:rgba(255,255,255,0.75);
    
}
.problem .title {
    text-align:center;
    font-weight: bold;
}
.problem {
        width:270px;
        position:relative;
        border:none;
    }
.problem input[type="checkbox"] {
        display: none;
    }
.problem input[type="checkbox"] + label {
        cursor: pointer;
        padding-left: 0;
        border:1px solid #ccc;
        display:block;
        width:250px;
        height:25px;
        padding:5px 5px 2px;
        margin-top:5px;
        margin-left:5px;
        
}
.problem input[type="checkbox"] + label:hover {
        background:#f5f5f5;
}
      
.problem input[type="checkbox"] + label::after {
        content: "";
        display:block;
        height: 22px;
        width: 24px;
        margin: 0;
        background: url(input-check.png) no-repeat -30px;
        float:right;
}
.problem input[type="checkbox"]:checked + label::after {
        background-position: right center;
}
.problem input[type="checkbox"]:checked + label{
        background-color:#e3e3e3;   /*#f5f5f5;*/
}
.problem ul{
        list-style-type:none;
        margin:0;
        margin-left:5px;
        padding-left:5px;
    
}
.problem li {
        list-style-type:none;
        display:block;
        width:250px;
        border:1px solid #ccc;
        height:20px;
        padding:5px;
        margin-bottom:5px;
        margin-left:5px;
}
.problem li:hover{
        background:#f5f5f5;
        cursor:pointer;
}






/*////////misha misha//////////////////////////////////////////////////////*/
            .b-container__problems{                       
                font-family: Arial;
                font-size: 0;                                        
                box-sizing: border-box;  
                min-width: 350px;
                height: 100%;
                overflow: auto;
                background: #FFFFFF;
                border: 1px solid black;
            }   
            
            .b-problems__close{
                display: inline-block;
                width: 100%;
                min-width: 350px;
                height: 32px;
            }
            
            .b-problems__close-image{
                float: right;
                opacity: 0.5;
            }
            
            .b-problems__close-image:hover{
                opacity: 1.0;
                cursor: pointer;
            }
            
            .b-crear-float{
                clear: both;
            }

            .b-problems__leftPanel{
                min-width: 350px;                              
                box-sizing: border-box;                                
                
                font-size: 16px;
            }
            
            .b-problems__rightPanel{
                min-width: 350px;                         
                box-sizing: border-box;
                height: 100%;
                
                font-size: 16px;
            }
            
            .b-problems__mainList{
                min-width: 350px;                
                box-sizing: border-box;
                
                padding: 6px;
            }      
            
            .b-leftPanel, .b-rightPanel{                        
                background: #E7E7E7; 

                padding: 5px;
            }
                     
            .b-mainList{
                background: #E7E7E7;                                
                height: auto;
                font-size: 14px;
            }            
            
            .b-chat{
                position: relative;
                min-height: 350px;
                background: #FFFFFF;
                border: 2px solid #AAAAAA;                
                box-sizing: border-box;
            }
            
            .b-chat__container-arrow-down{
                position: absolute;
                top: 0;
                left: calc(50% - 25px);
                height: 25px;
                width: 50px;                
                background: #AAAAAA url('images/icons/arrow_down_icon.png') no-repeat center center;
                border-top: 0;
                opacity: 0.2;
            }
            
            .b-chat__container-arrow-down:hover{
                opacity: 1.0;
                cursor: pointer;
            }
            
            .b-chat__container-arrow-up{
                position: absolute;
                bottom: 0;
                left: calc(50% - 25px);
                height: 25px;
                width: 50px;                
                background: #AAAAAA url('images/icons/arrow_up_icon.png') no-repeat center center;
                border-top: 0;
                opacity: 0.2;
            }
            
            .b-chat__container-arrow-up:hover{
                opacity: 1.0;
                cursor: pointer;
            }
            
            .b-chat-comment{
                height: 150px;
                background: #AAAAAA;
            }
            
            .b-leftPanel__details{
                min-height: 500px;
            }
            
            .b-chat-comment__title{
                display: block;
                height: 20px;
                line-height: 20px;
                padding: 5px;
                font-size: 14px;
                font-weight: 700;
            }
            
            .b-chat-comment__field{
                display: block;
                box-sizing: border-box;
                height: 70px;
                width: calc(100% - 10px);
                margin: 0 5px;
                font-size: 14px;
                resize: none;
            }
            
            .b-chat-comment__btn-field{
                height: 50px;
                line-height: 50px;
                text-align: center;             
            }
            
            .b-chat-comment__btn{
                box-sizing: border-box;
                border: 0;
                background: #1f475f;
                width: 50%;
                height: 30px;
                
                color: #FFFFFF;
                font-size: 14px;
                font-weight: 700;
            }
            
            .b-chat-comment__btn:hover{
                background: #3c87b5;
                cursor: pointer;
            }
            
            .b-details{
                min-height: 500px;
                background: blue;
            }
            
            .b-details__title{
                display: block;
                padding: 5px;
                color: #FFFFFF;
                font-size: 30px;
                
                background: #1f475f;
            }
            
            .b-details__body{
                background: #AAAAAA;
            }
            
            .b-details-body{
                width: 100%;
                padding: 3px;
            }
                        
            .b-details-body-image{
                margin-bottom: 10px;
                vertical-align: middle;                
            }
            
            .b-details-body-image:hover{
                background: lightgreen;
                cursor: pointer;
            }
            
            .b-details-body__title{
                font-weight: 700;
            }
            
            .b-details-body__problem-definition{
                background: #FFFFFF;
                font-size: 12px;
            }
            
            .b-details-body__problem-photos{
                text-align: center;
            }
            
            .b-details-body-problem-photo{
                width: 100%;
                max-width: 256px;
            }    
            
            .b-problems-list{
                table-layout: fixed;
                overflow: scroll;
                width: 100%;
                border: 1px solid red;
            }
            
            .b-problems-list td{
                width: 33%;
                min-width: 320px;
            }
            
            .b-mainList-categorie{
                font-size: 16px;
                min-width: 320px;                
                box-sizing: border-box;                                
            }
            
            .b-mainList-categorie{
                padding: 5px;
            }
            
            .b-mainList__list{
                list-style: none;
                margin: 0;
                padding: 0;
            }
            
            .b-mainList__list-item{
                min-height: 70px;
                background: #2f6c90;
            }
            
            .b-mainList__list-item-image{
                width: 60px;
                margin: 5px;
            }
            
            .b-mainList-categorie__title{
                font-size: 20px;
                font-weight: 700;
            }
            
            .b-mainList__list-item-title{  
                display: inline-block;
                vertical-align: top;
                margin: 5px 0;
                width: calc(100% - 80px);
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;                
                font-size: 18px;
                font-weight: 700;
                color: #FFFFFF;                
                line-height: 60px;
            }
            
            .b-mainList__list-item-title:hover{
                cursor: pointer;
                white-space: normal;
                line-height: normal;
            }
            
            .b-mainList__list-item-votes, .b-mainList__list-item-votes-value{
                display: inline-block;
                margin: 5px;
                font-style: italic;
                font-size: 14px;
                font-weight: 700;
            }
            
            .b-mainList__list-item{
                border-bottom: 1px solid #e7e7e7;
            }
